html {
    font-size: 62.5%;
}

body {
    color: $textMain;
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    line-height: 1.6;
}

h1 {
    color: #474a48;
    font-size: 5rem;
    margin: 60px 0;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 810px) {
        margin: 0 0 20px 0;
    }
    @media (max-width: 470px) {
        font-size: 4rem;
    }
    @media (max-width: 325px) {
        margin: 0;
    }
}

h2 {
    color: $textMed;
    font-size: 3rem;
    margin: 0;
}

p {
    margin: 0;
}