@import 'setup';
@import 'utils';
@import 'typography';
@import 'landing-page';


//General Styles
img {
    display: block;
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1070px;
    @media (max-width: 1090px) {
        padding: 20px;
    }
}

.button,
input[type='submit'] {
    background: $contrast;
    border: 2px solid $textLight;
    color: $textMain;
    padding: 20px;
    &:hover {
        background: lighten($contrast, 20);
    }
}


//SearchBar Styles
form {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    @media (max-width: 743px) {
        flex-wrap: wrap;
    }
    label,
    input[type=text] {
        border: 2px solid $textLight;
        border-right: none;
        padding: 20px;
    }
    label {        
        background: $primaryBold;
        font-size: 20px;
        @media (max-width: 610px) {
            border-bottom: none;
            border-right: 2px solid $textLight;
            flex-grow: 1;
        }
    }
    input[type=text] {
        flex-grow: 1;
        @media (max-width:743px) {
            border-right: 2px solid $textLight;
        }   
        @media (max-width: 610px) {
            flex-basis: 578px;
        }
    }
    input[type=submit] {
        @media (max-width: 743px) {
        flex-grow: 1;
        margin-top: 4px;
        }
    }
}


//Joke display styles

.joke-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 40px 0;
    @media (max-width: 900px) {
        align-items: stretch;
        flex-direction: column;
    }
}

.img-container {
    border: 5px solid $textMain;
    object-fit: cover;
    @media (max-width: 618px) {
        order: 1;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

.joke-card {
    display: flex;
    position: relative;
    flex-basis: 800px;
    justify-content: center;
    padding: 60px;
    @media (max-width: 900px) {
        flex-basis: auto;
    }
    @media (max-width: 743px) {
        padding: 60px 40px;
    }
    @media (max-width: 618px) {
        flex-wrap: wrap;
        padding: 40px 30px;
    }
}


//Customization options styles
.sidebar {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    justify-content: center;
    margin-left: 10px;
    p {
        margin: 5px 0  10px 0;
    }
    @media (max-width: 900px) {
        align-items: stretch;
        flex-basis: auto;
        flex-direction: row;
        margin: 20px 0 0 0;
    }
    @media (max-width: 618px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (max-width: 451px) {
        justify-content: center;
    }
}

.selected-quote {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.joke-display {
    align-self: flex-start;
    font-size: 1.8rem;
    position: relative;
    flex-basis: 300px;
    padding: 20px 0px 0px 60px;
    @media (max-width: 618px){
        padding: 0;
    }
    p {
        background: #fff;
        border: 5px solid $textMain;
        border-radius: 10px;
        color: $textMain;
        letter-spacing: 1px;
        padding: 25px;
        position: relative;
        margin: 1em 0 3em;
        min-height: 100px;
        &:before,
        &:after {
            content: "";
            border-style: solid;
            display: block; 
            position: absolute;
            width: 0;
        }
        &::before {
            border-color: $textMain transparent;
            border-width: 20px 20px 0;
            bottom: -20px;
            left: 40px;
        }
        &:after {
            content: "";
            border-color: #fff transparent;
            border-width: 13px 13px 0;
            bottom: -13px;
            left: 47px;
        }
    }
}

.quote-picker-container {
    flex-basis: 100px;
    text-align: center;
    @media (max-width: 900px) {
        flex-basis: auto;
        flex-direction: column;
        margin: 0 20px 0;
    }
    @media (max-width: 618px) {
        margin: 0;
    }
}

.font-container,
.colour-container {
    margin-bottom: 20px;
    @media (max-width: 900px){
        margin: 0;
    }
}

.colour-container {
    @media (max-width:900px) {
        order: 1;
    }
    @media (max-width: 618px) {
        order: 0;
    }
}
.quote-picker {
    border: 2px solid $textMain;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding: 0;
    @media (max-width: 900px) {
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        margin-left: 0;
    }
    p {
        margin-bottom: 0;
    }
    li {
        cursor: pointer;
        border-left: 2px solid $textMain;
        flex-basis: 60px;
        flex-grow: 1;
        padding: 10px;
        @media (max-width: 900px) {
            border-top: none;
        }
        &:nth-child(3n + 1) {
            border-left: none;
            @media (max-width: 900px) {
                border-left: 2px solid $textMain;
            }
        }
        &:nth-child(-n + 3) {
            border-bottom: 2px solid $textMain;
            @media (max-width: 900px) {
                border-bottom: none;
            }
        }
        &:first-child {
            @media (max-width: 900px) {
                border-left: none;
            }
        }
        &:hover{
            background: $contrast;
        }
    }   
}

footer {
    font-size: 1.4rem;
    text-align: center;
    padding: 5px 0;
    a {
        color: darken($primaryBold, 10);
        text-decoration: none;
        &:hover {
            color: $primaryBold;
        }
    }
}